.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 30px; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #202020;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: 18px;
    
}

.logo{
    color: #E62429;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
    letter-spacing: 1px;
}

.logo:hover{
    transform: scale(1.05);
}

.nav-links a:hover{
    color: #E62429;
}

.hero{
    height: 90vh;
   background-image:
linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url("../images/backgrounds/marvel-background\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    background-attachment: fixed;
    padding-top: 40px;
}

.hero-content{
    max-width: 550px;
}

.hero-content h1{
    color: white;
    font-size: 72px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-content p{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    background-color: #E62429;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
   box-shadow: 0 0 15px rgba(230,36,41,0.4);
}

.btn:hover{
    background-color: #b71c1c;
    transform: scale(1.05);
}

